/* main.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    color: #333; 
  }
  
  .nav {
    background-color: #333;
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: #555; 
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 0 auto;
    margin-bottom: 20px; /* Slightly reduced margin for a cleaner look */
    padding: 12px; /* Increased padding for better input visibility */
    border: 1px solid #ccc;
    width: 100%; /* Increased width for better usability */
    border-radius: 8px;
    text-align: center;
  }
  
  button {
    margin: 0 auto;
    width: 50%; /* Increased button width for better touchability */
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
  }
  
  button:hover {
    background-color: #555;
  }
  