{% extends 'base.html' %} {% block title %}home page{% endblock %} {% block head
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/main.css') }}"
/>
{% endblock %} {% block body %}
<div class="nav">
  <a href="{{url_for('signup')}}">Signup</a>
  <a href="{{url_for('login')}}">Login</a>
</div>

<h1>LOGIN</h1>
<div class="container1">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flash-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div class="container">
    <form action="/login" method="post">
      <input type="text" name="email" id="" placeholder="email" required />
      <input
        type="password"
        name="password"
        id=""
        placeholder="password"
        required
      />
      <button>submit</button>
    </form>
  </div>
  {% endblock %}
</div>
